<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Özgür Blog</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="navbar">
        <a href="http://127.0.0.1:5000/home">
            <button href=""><h1>Özgür Blog</h1></button>
        </a>
        <a>
            <button href="/home">Ana Sayfa</button>
        </a>
        <a>
            <button>Hakkımızda</button>
        </a>
        <a>
            <button>Yardım</button>
        </a>
        <a>
            <button>Yazı Yayınlama</button>
        </a>
        
    </div>
    <div id="blog">
        <h1 style="text-align:left">Bloglar ve Makaleler</h1>
        <hr>
        <br>
        <h2>Şuanda Yapım Aşamasında</h2>
        <hr>
    </div>
</body>
</html>