<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Özgür Blog</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="navbar">
        <a href="https://ozgurblog.herokuapp.com/home">
            <button href=""><h1>Özgür Blog</h1></button>
        </a>
        <a>
            <button href="https://ozgurblog.herokuapp.com/home">Ana Sayfa</button>
        </a>
        <a href="https://ozgurblog.herokuapp.com/hakkimizde">
            <button>Hakkımızda</button>
        </a>
        <a href="https://ozgurblog.herokuapp.com/yardim">
            <button>Yardım</button>
        </a>
        <a href="https://ozgurblog.herokuapp.com/yazi_yayinlama">
            <button>Yazı Yayınlama</button>
        </a>
    </div>
    <div id="blog">
        <h1 style="text-align:left">Bloglar ve Makaleler</h1>
        <hr>
        <br>
        <h2>Siteyi ve Kendimi Tanıtma</h2>
        <p1>
            Öncelikle herkese merhabalar. Ben Ali İhsan Sarı, 14 yaşındayım.<br>
            Lise 1 e gidiyorum. Bu geliştirmekte olduğum site gerekli kodları<br>
            öğrendim mi diye konrol ettiğim bir websitedir. Öğrendiğim "html/css"<br>
            kodlarını düzgün anladım mı diye baktığım bir yerdir.<br>
            Burada yapacağım yamalar sonucunda kendi yazınızı ekleyebileceksiniz.<br>
            Ancak şimdilik sadece ben el ile ekleyebiliyorum. "JavaScript" öğrenditen<br>
            sonra otomatik olarak siz yazdığınız anda belirecektir. Hakkımızda ya basarak<br>
            benim hakkımda ve site ile ilgili daha fazla bilgi yazacaktır.<br>
            Umarım ileride işinize yarar.<br>
            Saygılarımla;<br>
            Ali İhsan Sarı<br>
        </p1>
        <hr>
    </div>
</body>
</html>